# Visual Studio ignores
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
ipch/
*.manifest
*.lastbuildstate
*.exe
*.log
*.idb
*.ipdb
*.ilk
*.iobj
*.obj
*.pdb
*.sdf
*.suo
*.tlog
*.vcxproj.user
*.vc.db
